extends ../layout

block content
  link(rel="stylesheet" href="/stylesheets/device.css")

  
  .device-container

    .device-title
      block devicetitle

    .device-content
      block devicecontent

    .graph-button-holder
  
    .graph-holder
      .graph-button-holder

          .main-button-alt(id="dayScale" style="background: #0092DB; cursor: default; font-weight: 600; margin-right: 5px;" onclick="changeTimeScale('day')") Day

          .main-button-alt(id="hourScale" style="margin-right: 5px;" onclick="changeTimeScale('hour')") Hour

          .main-button-alt(style="float: right; padding-left: 8px; padding-right: 8px; padding-top: 6px;" onclick="moveRight('#{timescale}')")
            .glyphicon.glyphicon-triangle-right

          input.date-picker(type="text" id="datepicker" onchange="getData()" style="margin-right: 5px;")

          select.time-picker(type="text" id="ampmpicker" onchange="getData()")
              option AM
              option PM

          select.time-picker(type="text" id="timepicker" onchange="getData()")
              option 1
              option 2
              option 3
              option 4
              option 5
              option 6
              option 7
              option 8
              option 9
              option 10
              option 11
              option 12

          .main-button-alt(style="float: right; padding-left: 8px; padding-right: 8px; padding-top: 6px;" onclick="moveLeft('#{timescale}')")
            .glyphicon.glyphicon-triangle-left


      .graph(id="chart")
      .loader(style="top: 430px; left: 432.5px;")


  script(type="text/javascript" src="https://www.gstatic.com/charts/loader.js").

  script(type="text/javascript").

      $("#datepicker").datepicker({ dateFormat: 'dd-mm-yy' });
      if(getParameterByName('startDate'))
        $( "#datepicker" ).val(getFormatedDate(new Date(getParameterByName('startDate'))));
      else
        $( "#datepicker" ).val(getFormatedDate(new Date()));

  block scriptdata

  script(type="text/javascript").

      function getReadableDate(date){
        var dateString = "";
        dateString += String(date.getHours()).length == 1 ? "0" + date.getHours() + ":" : date.getHours() + ":";
        dateString += String(date.getMinutes()).length == 1 ? "0" + date.getMinutes() + " " : date.getMinutes();
        return dateString;
      }
