extends layout

block content
  link(rel="stylesheet" href="/stylesheets/controls.css")
  
  .container

    .col-md-6(style="min-height: 80vh; padding: 0px; margin: 0px; background: #eee;")
    .col-md-6(style="min-height: 80vh; padding: 0px; margin: 0px; background: #ddd;")
