extends layout

block content
  link(rel="stylesheet" href="/stylesheets/home.css")

  .devices
    .devices-title My Devices

    each device, index in devices

      .device-holder
        a.device(href="/device?id=#{device.id}")
          .device-icon(style="background-image: url('/images/device/#{device.type}_white.png');")
          .device-name #{device.name}

          if device.type == "AMP"
            .device-type Power Monitor
          else if device.type == "WTRHTR"
            .device-type Water Heater

        .device-settings

  .other

  script(type="text/javascript" src="https://www.gstatic.com/charts/loader.js").
  script.

  each device, index in devices

    script.
      











