doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= title
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")

    link(rel="stylesheet" href="/stylesheets/nav.css")
    link(rel="stylesheet" href="/stylesheets/all.css")

  body
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js").
    script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js").

    script.
      // ====HEADER SCRIPT====

      // Gets parameter from url
      function getParameterByName(name) {
        url = window.location.href;
        name = name.replace(/[\[\]]/g, "\\$&");
        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
            results = regex.exec(url);
        if (!results) return "";
        if (!results[2]) return "";
        return decodeURIComponent(results[2].replace(/\+/g, " "));
      }

      // HH:MM:SS dd:mm
      function getReadableDate(date){
        var dateString = "";
        var hours = date.getHours();
        var hoursSuffix = "am";
        if(hours >= 12) { hours -= 12; hoursSuffix = "pm"; }

        dateString += String(hours).length == 1 ? "0" + hours + ":" : hours + ":";
        dateString += String(date.getMinutes()).length == 1 ? "0" + date.getMinutes() + ":" : date.getMinutes() + ":";
        dateString += String(date.getSeconds()).length == 1 ? "0" + date.getSeconds() + hoursSuffix + " - " : date.getSeconds() + hoursSuffix + " - ";
        dateString += String(date.getDate()).length == 1 ? "0" + date.getDate() + "/" : date.getDate() + "/";
        dateString += String((date.getMonth()+1)).length == 1 ? "0" + (date.getMonth()+1) : (date.getMonth()+1);
        return dateString;
      }

      // dd:mm:yyyy
      function getFormatedDate(date){
        var dateString = "";
        dateString += String(date.getDate()).length == 1 ? "0" + date.getDate() + "-" : date.getDate() + "-";
        dateString += String((date.getMonth()+1)).length == 1 ? "0" + (date.getMonth()+1) + "-" : (date.getMonth()+1) + "-";
        dateString += date.getFullYear();
        return dateString;
      }

      // yyyy:mm:dd
      function getFormatedDateR(date){
        var dateString = "";
        dateString += date.getFullYear() + "-";
        dateString += String((date.getMonth()+1)).length == 1 ? "0" + (date.getMonth()+1) + "-" : (date.getMonth()+1) + "-";
        dateString += String(date.getDate()).length == 1 ? "0" + date.getDate() : date.getDate();
        return dateString;
      }

      // 24hr to 12hr conversion
      function getTwelveHourTime(time) {
        // Check correct time format and split into components
        time = time.toString ().match (/^([01]\d|2[0-3])(:)([0-5]\d)(:[0-5]\d)?$/) || [time];

        if (time.length > 1) { // If time format correct
          time = time.slice (1);  // Remove full string match value
          time[5] = +time[0] 
          time[0] = +time[0] % 12 || 12; // Adjust hours
        }
        return time.join (''); // return adjusted time or original string
      }



    .overlay
      .overlay-inner
        .overlay-close(onclick="cancel()")
        .overlay-inner-title
        .overlay-inner-container


    .toast Test Toast


    .topnav
      .topnav-logo
      .topnav-button(id="home-button" onclick="window.location.assign('/home');") Home
      .topnav-button(id="controls-button" style="color: #bbb;") Control
      .topnav-button(id="settings-button" onclick="window.location.assign('/devices');") Settings
      .topnav-seperator
      .topnav-button(id="shop-button" onclick="window.location.assign('/shop');") Products
      .topnav-button(id="guide-button" style="color: #bbb;") Guides
      .topnav-button(id="help-button" style="color: #bbb;") Help
      .topnav-button(id="logout-button" style="float: right; margin-right: 20px; margin-left: 0px;" onclick="logout()") Logout
      .topnav-button(id="account-button" style="float: right; margin-right: 20px; margin-left: 0px; color: #bbb;")  My Account


    .page
      block content



    script.
      // Toast setup
      function toast(message, time, color) {
        $(".toast").css('display', 'block');
        $(".toast").css('background', '#00aaff');
        if(color) $(".toast").css('background', color);
        $(".toast").html(message);
        $(".toast").animate({bottom: '60px'}, { duration: 300, queue: false });
        setTimeout(function(){ $(".toast").animate({bottom: '-40px'}, { duration: 300, queue: false }); setTimeout(function(){ $(".toast").html(""); }, 300); }, time);
      }

      // Nav page setup
      var page = window.location.pathname.split('/')[1];
      if(page == 'home') {
        $("#home-button").css('border-bottom', '1px solid #fff');
      } else if(page == 'controls') {
        $("#controls-button").css('border-bottom', '1px solid #fff');
      } else if(page == 'devices') {
        $("#settings-button").css('border-bottom', '1px solid #fff');
      } else if(page == 'shop') {
        $("#shop-button").css('border-bottom', '1px solid #fff');
      }

      function logout(){
        window.location.assign('/logout');
      }


