doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= title
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")

    link(rel="stylesheet" href="/stylesheets/all.css")
    link(rel="stylesheet" href="/stylesheets/nav.css")

  body
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js").
    script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js").


    script.
      // ====HEADER SCRIPT====

      // Gets parameter from url
      function getParameterByName(name) {
        url = window.location.href;
        name = name.replace(/[\[\]]/g, "\\$&");
        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
            results = regex.exec(url);
        if (!results) return "";
        if (!results[2]) return "";
        return decodeURIComponent(results[2].replace(/\+/g, " "));
      }

      // HH:MM:SS dd/mm/yyyy
      function getReadableDate(date){
        var dateString = "";

        dateString += String(date.getHours()).length == 1 ? "0" + date.getHours() + ":" : date.getHours() + ":";
        dateString += String(date.getMinutes()).length == 1 ? "0" + date.getMinutes() + ":" : date.getMinutes() + ":";
        dateString += String(date.getSeconds()).length == 1 ? "0" + date.getSeconds() + " " : date.getSeconds() + " ";
        dateString += String(date.getDate()).length == 1 ? "0" + date.getDate() + "/" : date.getDate() + "/";
        dateString += String((date.getMonth()+1)).length == 1 ? "0" + (date.getMonth()+1) + "/" : (date.getMonth()+1) + "/";
        dateString += date.getFullYear();
        return dateString;
      }

      // yyyy-mm-dd HH:MM:SS
      function getFormatedDate(date) {
        var dateString = "";
        dateString += date.getFullYear() + "-";
        dateString += String((date.getMonth()+1)).length == 1 ? "0" + (date.getMonth()+1) + "-" : (date.getMonth()+1) + "-";
        dateString += String(date.getDate()).length == 1 ? "0" + date.getDate() + " " : date.getDate() + " ";
        dateString += String(date.getHours()).length == 1 ? "0" + date.getHours() + ":" : date.getHours() + ":";
        dateString += String(date.getMinutes()).length == 1 ? "0" + date.getMinutes() + ":" : date.getMinutes() + ":";
        dateString += String(date.getSeconds()).length == 1 ? "0" + date.getSeconds() : date.getSeconds();
        return dateString;
      }

      // dd-mm-yyyy
      function getDatepickerDate(date){
        var dateString = "";
        dateString += String(date.getDate()).length == 1 ? "0" + date.getDate() + "-" : date.getDate() + "-";
        dateString += String((date.getMonth()+1)).length == 1 ? "0" + (date.getMonth()+1) + "-" : (date.getMonth()+1) + "-";
        dateString += date.getFullYear();
        return dateString;
      }

      // Get X:00, X:10, X:20, X:30, X:40, X:50, X:60 ticks over an hour
      function getHourTicks(date) {
        var hTicks = [];
        var tDate = new Date(date); tDate.setMinutes(0); tDate.setSeconds(0); hTicks[0] = tDate;
        var tDate = new Date(date); tDate.setMinutes(10); tDate.setSeconds(0); hTicks[1] = tDate;
        var tDate = new Date(date); tDate.setMinutes(20); tDate.setSeconds(0); hTicks[2] = tDate;
        var tDate = new Date(date); tDate.setMinutes(30); tDate.setSeconds(0); hTicks[3] = tDate;
        var tDate = new Date(date); tDate.setMinutes(40); tDate.setSeconds(0); hTicks[4] = tDate;
        var tDate = new Date(date); tDate.setMinutes(50); tDate.setSeconds(0); hTicks[5] = tDate;
        var tDate = new Date(date); tDate.setMinutes(60); tDate.setSeconds(0); hTicks[6] = tDate;
        return hTicks;
      }

      // Get 3 hour ticks over a day
      function getDayTicks(date) {
        var hTicks = [];
        var tDate = new Date(date); tDate.setHours(0); tDate.setMinutes(0); tDate.setSeconds(0); hTicks[0] = tDate;
        var tDate = new Date(date); tDate.setHours(3); tDate.setMinutes(0); tDate.setSeconds(0); hTicks[1] = tDate;
        var tDate = new Date(date); tDate.setHours(6); tDate.setMinutes(0); tDate.setSeconds(0); hTicks[2] = tDate;
        var tDate = new Date(date); tDate.setHours(9); tDate.setMinutes(0); tDate.setSeconds(0); hTicks[3] = tDate;
        var tDate = new Date(date); tDate.setHours(12); tDate.setMinutes(0); tDate.setSeconds(0); hTicks[4] = tDate;
        var tDate = new Date(date); tDate.setHours(15); tDate.setMinutes(0); tDate.setSeconds(0); hTicks[5] = tDate;
        var tDate = new Date(date); tDate.setHours(18); tDate.setMinutes(0); tDate.setSeconds(0); hTicks[6] = tDate;
        var tDate = new Date(date); tDate.setHours(21); tDate.setMinutes(0); tDate.setSeconds(0); hTicks[7] = tDate;
        var tDate = new Date(date); tDate.setHours(24); tDate.setMinutes(0); tDate.setSeconds(0); hTicks[8] = tDate;
        return hTicks;
      }

      // 24hr to 12hr conversion
      function getTwelveHourTime(time) {
        // Check correct time format and split into components
        time = time.toString ().match (/^([01]\d|2[0-3])(:)([0-5]\d)(:[0-5]\d)?$/) || [time];

        if (time.length > 1) { // If time format correct
          time = time.slice (1);  // Remove full string match value
          time[5] = +time[0] 
          time[0] = +time[0] % 12 || 12; // Adjust hours
        }
        return time.join (''); // return adjusted time or original string
      }


    .overlay
      .overlay-inner
        .overlay-close(onclick="cancel()")
        .overlay-inner-title
        .overlay-inner-container

    .toast Test Toast

    .topnav
      .topnav-logo
        span(style="color: #0092DB;") A
        span BOUT
        br
        span(style="color: #0092DB;") A
        br
        span(style="color: #0092DB;") H
        span OUSE
      if page == 'home'
        .topnav-button(id="home-button" style="color: #0092DB;" onclick="window.location.assign('/home');") Dashboard
      else
        .topnav-button(id="home-button" onclick="window.location.assign('/home');") Dashboard
      .topnav-button.unavailable(id="shop-button" onclick="/*window.location.assign('/shop');*/") Products
      .topnav-button.unavailable(id="guide-button") Guides
      .topnav-button.unavailable(id="help-button") Help

      .topnav-icon.user-dropdown-button.user-tag(id="user-button" style="float: right; margin-right: 20px; margin-left: 0px;")
        .glyphicon.glyphicon-user.user-tag
        .notification-amount.user-tag 0
        .arrow-down(id="user-arrow")
      .topnav-icon.notifications-dropdown-button.notifications-tag(id="notifications-button" style="float: right; margin-right: 12px; margin-left: 0px;")
        .glyphicon.glyphicon-bell.notifications-tag
        .notification-amount.notifications-tag 0
        .arrow-down(id="notifications-arrow")

    .page
      block content

    .notifications-dropdown.notifications-tag
      .notifications-dropdown-title.notifications-tag Notifications
      .no-notifications.notifications-tag You have no new notifications

    .user-dropdown.user-tag
      .user-dropdown-title.user-tag #{user.name}
      .user-dropdown-inner-button.user-tag My Account
      .user-dropdown-inner-button.user-tag(onclick="logout()") Logout


    script.

      // Show/Hide notifications dropdown
      $('#notifications-button').click(function(e) {
        if($('.notifications-dropdown').css('display') == 'none') { 
          if($('.user-dropdown').css('display') == 'none') { $('#notifications-arrow').css('display', 'block'); $('.notifications-dropdown').slideToggle('fast'); }
          else setTimeout(function(){ $('#notifications-arrow').css('display', 'block'); $('.notifications-dropdown').slideToggle('fast'); }, 200); 
        } else { 
          setTimeout(function(){ $('#notifications-arrow').css('display', 'none'); }, 180);
          $('.notifications-dropdown').slideToggle('fast');
        }
      });

      // Show/Hide user dropdown
      $('#user-button').click(function(e) {
        if($('.user-dropdown').css('display') == 'none') { 
          if($('.notifications-dropdown').css('display') == 'none') { $('#user-arrow').css('display', 'block'); $('.user-dropdown').slideToggle('fast'); }
          else setTimeout(function(){ $('#user-arrow').css('display', 'block'); $('.user-dropdown').slideToggle('fast'); }, 200); 
        } else { 
          setTimeout(function(){ $('#user-arrow').css('display', 'none'); }, 180); 
          $('.user-dropdown').slideToggle('fast');
        }
      });

      $(document).on('click', function(evt) {
        // Close notifications dropdown
        if(!$(evt.target).attr('class').includes("notifications-tag")) {
          if($('.notifications-dropdown').css('display') != 'none') { setTimeout(function(){ $('#notifications-arrow').css('display', 'none'); }, 180); $('.notifications-dropdown').slideToggle('fast'); }
        }
        // Close user dropdown
        if(!$(evt.target).attr('class').includes("user-tag")) {
          if($('.user-dropdown').css('display') != 'none') { setTimeout(function(){ $('#user-arrow').css('display', 'none'); }, 180); $('.user-dropdown').slideToggle('fast'); }
        }
      });

      // Toast setup
      function toast(message, time, color) {
        $(".toast").css('display', 'block');
        $(".toast").css('background', '#00aaff');
        if(color) $(".toast").css('background', color);
        $(".toast").html(message);
        $(".toast").animate({bottom: '60px'}, { duration: 300, queue: false });
        setTimeout(function(){ $(".toast").animate({bottom: '-40px'}, { duration: 300, queue: false }); setTimeout(function(){ $(".toast").html(""); }, 300); }, time);
      }

      function logout() {
        window.location.assign('/logout');
      }


