doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/all.css')
    link(rel='stylesheet', href='/stylesheets/menu.css')

  body
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js").

    .button-holder
      .button-1
        .button-title-1 Statistics
        .button-subtitle-1 Information about your house
      .button-2
        .button-title-2 Controls
        .button-subtitle-2 Control your house and setup behavior
      .button-3
        .button-title-3 Settings
        .button-subtitle-3 Change settings and setup devices

    script(src="/javascripts/hover_click_home.js").






