extends shop

block shopcontent
  .shop-featured-main
    .shop-featured-main-image(style="background-image: url('/images/solar.jpg');")

    .shop-featured-main-title-holder

      .shop-featured-main-title Solar Collection & Storage

    .shop-featured-main-desc 
        span Go off the grid with a combination of Solar Panels and Batteries. 
        span Our simple tool can help you choose a solution right for you.
    

  .div(style="overflow: auto; margin-bottom: 20px;")

    .col-md-6(style="padding: 0px; margin: 0px;")
      .shop-featured(style="margin-right: 10px;")
        .shop-featured-image(style="")

        .shop-featured-main-title-holder

          .shop-featured-main-price $50

          .shop-featured-main-title Solar Effectiveness Sensor

        .shop-featured-main-desc 
          span This device will help you get an idea of how effective your roof will be with solar panels.

    .col-md-6(style="padding: 0px; margin: 0px;")
      .shop-featured(style="margin-left: 10px;")
        .shop-featured-image(style="")

        .shop-featured-main-title-holder

          .shop-featured-main-price $1.30/W

          .shop-featured-main-title Solar Panels

        .shop-featured-main-desc 
          span The average NZ household uses around 2200Wh a day. A 8000W system ($10,400) needed to go off the electrical grid.
    
