
/* =====MISC===== */

body {
  margin: 0px;
  text-align: center;
  background: #777;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 1em;
  color: white;
  padding: 0px;
  height: 100vh;
}

a {
  color: #fff;
  text-decoration: none;
}

a:link  {
  color: #fff;
  text-decoration: none;
}

a:visited  {
  color: #fff;
  text-decoration: none;
}

a:active  {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #fff;
  text-decoration: none;
}

input:focus {
  outline-color: #00aaff;
}


/* =====CONTAINERS===== */

.page {
  position: relative;
  min-height: calc(100vh - 65px);
}

.container {
  position: relative;
  top: 0vh;
  width: 96%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  overflow: auto;

  color: black;
  font-size: 1.2em;
  z-index: 1;
}

@media only screen and (max-width: 1200px) {

.container {
  max-width: 1000px;
}

}


/* =====BUTTON===== */

.main-button {
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  display: inline-block;
  border-radius: 3px;
  color: #000;
  cursor: pointer;
  background: #fff;
  font-size: 13px;
}

.main-button:hover {
  color: #fff;
  background: #0092DB;
}

.main-button-alt {
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  display: inline-block;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  background: #00aaff;
  font-size: 13px;
}

.main-button-alt:hover {
  background: #0092DB;
}

.overlay-button {
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  display: inline-block;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  background: #00aaff;
  font-size: 13px;
}

.overlay-button:hover {
  background: #0092DB;
}


/* =====OVERLAY===== */

.overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 997;
  display: none;
  overflow: auto;
}

.overlay-inner, .overlay-popup {
  z-index: 998;
  max-width: 500px;
  width: 96%;
  background: #00aaff;
  margin: 0 auto;
  margin-top: 5vh;
  font-size: 12px;
  padding: 10px;
  border-radius: 5px;
  position: relative;
} 
.overlay-popup {
} 

.overlay-inner-title {
  font-size: 18px;
} 

.overlay-inner-subtitle {
  color: black;
  margin-top: 5px;
} 

.overlay-inner-container {
  color: black;
  background: #fff;
  width: 96%;
  margin: 0 auto;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 8px;
  padding: 10px;
}

.overlay-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: #aaa;
  cursor: pointer;
  color: white;
}

.overlay-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: #0092DB;
  border-radius: 50%;
  padding-top: 3px;
  color: white;
  cursor: pointer;
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('/images/remove-icon.png');
}

.overlay-close:hover {
  background-color: #00aaff;
} 

.new-device-input {
  margin-top: 3px;
  margin-bottom: 15px;
  width: 220px;
  height: 24px;
  text-align: center;
}

.loader {
  position: absolute;
  top: 50px;
  left: 175px;
  width: 50px;
  height: 50px;
  background-size: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('/images/loader.gif');
}


/* =====TOAST===== */

.toast {
  position: fixed;
  bottom: -40px;
  left: calc(50vw - 150px);
  width: 300px;
  padding: 10px;
  padding-left: 0px;
  padding-right: 0px;
  color: #000;
  z-index: 999;
  font-size: 12px;
  font-weight: 600;
  color: white;
  display: none;
}







