

a {
  color: #fff;
  text-decoration: none;
}

a:link  {
  color: #fff;
  text-decoration: none;
}

a:visited  {
  color: #fff;
  text-decoration: none;
}

a:active  {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #fff;
  text-decoration: none;
}

/* ====TITLE==== */

.device-title {
  position: absolute;
  top: 10px;
  left: 20px;
  right: 20px;
  height: 50px;
  margin: 0 auto;
  z-index: 1;

  text-align: left;
  color: #777;
  box-shadow: 2px 2px 4px #555;
  background: #eee;
}

.device-back {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 30px;
  height: 30px;
  background: #777;
  border-radius: 50%;
  padding-top: 3px;
  padding-left: 6px;
  font-size: 19px;
  color: white;
  cursor: pointer;
  box-shadow: inset 2px 2px 4px #555;
}

.device-back:hover {
  background-color: #0092DB;
}

.device-icon {
  position: absolute;
  top: 6px;
  left: 44px;
  width: 38px;
  height: 38px;

  background-size: 85%;
  background-position: center;
  background-repeat: no-repeat;
}

.device-name {
  position: absolute;
  top: 6px;
  left: 85px;

  font-size: 17px;
  font-weight: 600;
}

.device-type {
  position: absolute;
  top: 24px;
  left: 86px;

  font-size: 15px;
}

.device-settings {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  padding-top: 3px;
  color: white;
  cursor: pointer;
  box-shadow: inset 2px 2px 4px #555;
  border-radius: 50%;
  background: #777;
  background-size: 75%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('/images/settings-icon.png');
}

.device-settings:hover {
  background-color: #0092DB;
} 


/* ====GRAPH==== */

.graph-holder {
  position: absolute;
  top: 70px;
  left: 260px;
  right: 30px;
  height: calc(100vh - 155px);
  margin: 0 auto;
  z-index: 1;

  text-align: left;
  color: #777;
  box-shadow: 2px 2px 4px #555;
  background: #eee;
}

.graph {
  margin: 0 auto;
  color: orange;
  height: 100%;
  background: #eee;
} 


/* ====GRAPH NAVIGATION==== */

.graph-navigation-holder {
  position: absolute;
  top: 70px;
  left: 30px;
  width: 220px;
  margin: 0 auto;
  z-index: 1;
  color: #777;
}

.graph-navigation-inner {
  position: relative;
  box-shadow: 2px 2px 4px #555;
  background: #eee;
  padding-top: 15px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.graph-navigation-title {
  font-size: 13px;
  font-weight: 600;
  text-align: center;
}

.graph-navigation-button-holder {
  overflow: auto;
  width: 145px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.graph-navigation-button {
  width: 70px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: 5px;
  float: left;

  cursor: pointer;
  color: #fff;
  font-size: 11px;
  font-weight: 600;
  box-shadow: inset 2px 2px 4px #555;
  background: #777;
}

.graph-navigation-button:hover {
  background: #0092DB;
}

.graph-navigation-input {
  display: inline-block;
  width: 100px;
  margin: 0 auto;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: 15px;

  border: none;
  outline: none;

  cursor: pointer;
  text-align: center;
  color: #fff;
  font-size: 11px;
  font-weight: 600;
  box-shadow: inset 2px 2px 4px #555;
  background: #777;
}

.graph-navigation-input:hover {
  background: #0092DB;
}

.graph-navigation-time-holder {
  overflow: hidden;
  height: 55px;
  -webkit-transition: height 0.5s ease;
  transition: height 0.5s ease;
}

.graph-navigation-time {
  display: inline-block;
  width: 30px;
  margin: 0 auto;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: 15px;

  border: none;
  outline: none;

  cursor: pointer;
  text-align: center;
  color: #fff;
  font-size: 11px;
  font-weight: 600;
  box-shadow: inset 2px 2px 4px #555;
  background: #777;
}

.graph-navigation-ampm {
  display: inline-block;
  width: 30px;
  margin: 0 auto;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-left: 5px;

  border: none;
  outline: none;

  cursor: pointer;
  text-align: center;
  color: #fff;
  font-size: 11px;
  font-weight: 600;
  box-shadow: inset 2px 2px 4px #555;
  background: #777;
}

.graph-navigation-left {
  display: inline-block;
  width: 25px;
  margin: 0 auto;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-right: 5px;

  cursor: pointer;
  text-align: center;
  color: #fff;
  font-size: 11px;
  font-weight: 600;
  box-shadow: inset 2px 2px 4px #555;
  background: #777;
}

.graph-navigation-right {
  display: inline-block;
  width: 25px;
  margin: 0 auto;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-left: 5px;

  cursor: pointer;
  text-align: center;
  color: #fff;
  font-size: 11px;
  font-weight: 600;
  box-shadow: inset 2px 2px 4px #555;
  background: #777;
}

.graph-navigation-channel {
  width: 150px;
  margin: 0 auto;
  padding: 6px;
  margin-bottom: 5px;
  cursor: pointer;
  color: white;
  font-size: 11px;
  font-weight: 600;
  box-shadow: inset 2px 2px 4px #555;
  background: #777;
}

.graph-navigation-time:hover, .graph-navigation-left:hover, .graph-navigation-right:hover {
  background: #0092DB;
}

.loader {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  padding-top: calc(50vh - 155px);
  text-align: center;

  color: #fff;
  font-size: 17px;
  font-weight: 600;
  
  background: rgba(0, 0, 0, 0.3);
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    text-align-last: center;
}

option {
  background: #777;
}

select:focus {
    outline: none !important;
}
 

