.panel {
  width: 340px;
  margin: 0 auto;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 1;
  cursor: pointer;
  color: #000;
  overflow: auto;
  background: #fff;
}

.panel:hover {
  background: #0092DB;
}

.panel-title {
  float: left;
  text-align: left;
  font-size: 16px;
}

.panel-lastreadingdata {
  float: right;
  font-size: 14px;
}

.panel-lastreadingdatasymbol {
  float: right;
  font-size: 14px;
}

.panel-lastreading {
  float: right;
  font-size: 14px;
}

.device-holder {
  width: 100%;
  max-width: 340px;
  background: #fff;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px;
  padding-top: 5px;
  position: relative;
  margin: 0 auto;
}

.device-holder:hover {
  box-shadow: 0px 0px 5px 2px rgba(255,255,255,0.7);
}

.device-icon {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: 18px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.device-title {
  float: left;
  font-size: 16px;
  margin-left: 20px;
}

.device-signal {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 18px;
  color: white;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('/images/signal-red.png');
}

.device-content {
  margin-top: 7px;
  background: #00aaff;
  height: 200px;
}


.tooltip {
    visibility: hidden;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    height: 100%;
    padding-top: 3px;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
}

.device-signal:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.device-icon:hover .tooltip {
    visibility: visible;
    opacity: 1;
}
