/* =====TOP-NAV===== */

.topnav {
  position: relative;
  height: 75px;
  padding-top: 5px;
  background: #00aaff;
}

.topnav-logo {
  height: 70px;
  width: 40px;
  float: left;
  margin-left: 25px;
  margin-right: 5px;

  background-image: url('/images/logo-white.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.topnav-button {
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 14px;
  height: 30px;
  display: inline-block;
  float: left;
  margin-top: 17px;
  margin-left: 20px;
  color: #fff;
  cursor: pointer;
  border-bottom: 1px solid #00aaff;
}

.topnav-button:hover {
  border-bottom: 1px solid #fff;
}

.topnav-seperator {
  height: 30px;
  width: 1px;
  background: white;
  float: left;
  margin-top: 18px;
  margin-left: 40px;
  margin-right: 20px;
}

