extends shop

block shopcontent
  .shop-featured-main
    .shop-featured-main-image(style="background-image: url('/images/shop/featured.jpg');")

    .shop-featured-main-title-holder

      .shop-featured-main-price $400.00

      .shop-featured-main-title Starter Sensor Bundle

    .shop-featured-main-desc 
      span A bundle to get you started gathing simple data about your house. 
      span Includes the ability to measure both inside and outside temperatures and humidities, monitor the amount of electricity consumed by your house and test the solar effectiveness of your roof.
    

  .div(style="overflow: auto; margin-bottom: 20px;")

    .col-md-6(style="padding: 0px; margin: 0px;")
      .shop-featured(style="margin-right: 10px;")
        .shop-featured-image(style="background-image: url('/images/shop/advanced-sensors.jpg');")

        .shop-featured-main-title-holder

          .shop-featured-main-price $600

          .shop-featured-main-title Advanced Sensor Bundle

        .shop-featured-main-desc 
          span Includes the ability to measure temperature, humidity, wind speed, wind direction, air pressure, rainfall, solar effectiveness and electricity consumed.

    .col-md-6(style="padding: 0px; margin: 0px;")
      .shop-featured(style="margin-left: 10px;")
        .shop-featured-image(style="background-image: url('/images/shop/solar.jpg');")

        .shop-featured-main-title-holder

          .shop-featured-main-title Solar Collection & Storage

        .shop-featured-main-desc 
          span Go off the grid with a combination of Solar Panels and Batteries. 
          span Our simple tool can help you choose a solution right for you.
    
    
