extends shop

block shopcontent

  .shop-featured-main
    .shop-featured-main-image(style="background-image: url('/images/shop/auto-farm.jpg');")

    .shop-featured-main-title-holder

      .shop-featured-main-title Smart Garden

    .shop-featured-main-desc 
        span With this autonomous vegetable garden you can grow your own vegetables right in your kitchen. The Smart Garden can be scaled to many sizes including a size big enough to feed your whole family.
    

  .div(style="overflow: auto;")

    .col-md-6(style="padding: 0px; margin: 0px;")
      .shop-featured(style="margin-right: 10px;")
        .shop-featured-image(style="background-image: url('/images/shop/tap-water.jpg');")

        .shop-featured-main-title-holder

          .shop-featured-main-title Water Useage Monitor

        .shop-featured-main-desc 
          span A device to measure and record water useage of your home and help size up an off the grid water solution.

    .col-md-6(style="padding: 0px; margin: 0px;")
      .shop-featured(style="margin-left: 10px;")
        .shop-featured-image(style="background-image: url('/images/shop/rain.jpg');")

        .shop-featured-main-title-holder

          .shop-featured-main-title Rainfall Sensor

        .shop-featured-main-desc 
          span This device will help you get an idea of how much rain your roof could collect for storage.


  .shop-featured-main(style="margin-bottom: 20px;")
    .shop-featured-main-image(style="background-image: url('/images/shop/water-tanks.jpg');")

    .shop-featured-main-title-holder

      .shop-featured-main-title Water Collection &  Storage

    .shop-featured-main-desc 
        span Solutions for helping your house get off the water grid by collecting rain water and storing it locally.
    
    
