extends shop

block shopcontent

  .shop-featured-main
    .shop-featured-main-image(style="background-image: url('/images/shop/sun-river.jpg');")

    .shop-featured-main-title-holder

      .shop-featured-main-title Off Grid Effectiveness Bundle

    .shop-featured-main-desc 
        span Test how effective your home will be when going off the grid. 
        span This bundle measures both power and water useage in your home while also checking the effectiveness of electricity and water collection from your enviroment.
    

  .div(style="overflow: auto; margin-bottom: 20px;")

    .col-md-6(style="padding: 0px; margin: 0px;")
      .shop-featured(style="margin-right: 10px;")
        .shop-featured-image(style="background-image: url('/images/shop/solar-wind.jpg');")

        .shop-featured-main-title-holder

          .shop-featured-main-title Hybrid Power Collection & Storage

        .shop-featured-main-desc 
          span A collection of Solar Panels, Wind Turbines and Hydro Turbines custom designed to fit your homes power consumption.

    .col-md-6(style="padding: 0px; margin: 0px;")
      .shop-featured(style="margin-left: 10px;")
        .shop-featured-image(style="background-image: url('/images/shop/food-water.jpg');")

        .shop-featured-main-title-holder

          .shop-featured-main-title Off Grid Food & Water

        .shop-featured-main-desc 
          span This will help your house get off the food & water grid. Feed and hydrate your whole family.
    
