extends shop

block shopcontent

  .shop-featured-main
    .shop-featured-main-image(style="background-image: url('/images/shop/solar.jpg');")

    .shop-featured-main-title-holder

      .shop-featured-main-title Solar Power: Collection & Storage

    .shop-featured-main-desc 
        span Go off the electrical grid with a combination of Solar Panels and Batteries. 
        span Our simple tool can help you choose a solution right for you.

  .div(style="overflow: auto;")

    .col-md-6(style="padding: 0px; margin: 0px;")
      .shop-featured(style="margin-right: 10px;")
        .shop-featured-image(style="background-image: url('/images/shop/light-bulb.jpg');")

        .shop-featured-main-title-holder

          .shop-featured-main-title Power Useage Monitor

          .shop-featured-main-price $300

        .shop-featured-main-desc 
          span A device to measure and record power useage of your home and help size up an off the grid electrical solution.

    .col-md-6(style="padding: 0px; margin: 0px;")
      .shop-featured(style="margin-left: 10px;")
        .shop-featured-image(style="background-image: url('/images/shop/roof-sun.jpg');")

        .shop-featured-main-title-holder

          .shop-featured-main-title Solar Effectiveness Sensor

          .shop-featured-main-price $50

        .shop-featured-main-desc 
          span This device will help you get an idea of how effective Solar Panels will be.
    
  .div(style="overflow: auto;")

    .col-md-6(style="padding: 0px; margin: 0px;")
      .shop-featured(style="margin-right: 10px;")
        .shop-featured-image(style="background-image: url('/images/shop/wind-turbine.jpg');")

        .shop-featured-main-title-holder

          .shop-featured-main-title Wind Power: Collection & Storage

        .shop-featured-main-desc 
          span Go off the electrical grid with a combination of Wind Turbines and Batteries. 

    .col-md-6(style="padding: 0px; margin: 0px;")
      .shop-featured(style="margin-left: 10px;")
        .shop-featured-image(style="background-image: url('/images/shop/wind-sensor.jpg');")

        .shop-featured-main-title-holder

          .shop-featured-main-title Wind Effectiveness Sensor

          .shop-featured-main-price $50

        .shop-featured-main-desc 
          span This device will help you get an idea of how effective Wind Turbines will be.
    
  .div(style="overflow: auto;")

    .col-md-6(style="padding: 0px; margin: 0px;")
      .shop-featured(style="margin-right: 10px;")
        .shop-featured-image(style="background-image: url('/images/shop/hydro-turbine.jpg');")

        .shop-featured-main-title-holder

          .shop-featured-main-title Hydro Power: Collection & Storage

        .shop-featured-main-desc 
          span Go off the electrical grid with a combination of Hydro Turbines and Batteries. 


    .col-md-6(style="padding: 0px; margin: 0px;")
      .shop-featured(style="margin-left: 10px;")
        .shop-featured-image(style="background-image: url('/images/shop/stream.jpg');")

        .shop-featured-main-title-holder

          .shop-featured-main-title Hydro Effectiveness Sensor

          .shop-featured-main-price $50

        .shop-featured-main-desc 
          span This device will help you get an idea of how effective Water Turbines will be.

  .shop-featured-main
    .shop-featured-main-image(style="background-image: url('/images/shop/solar-battery.jpg');")

    .shop-featured-main-title-holder

      .shop-featured-main-title Power Storage

    .shop-featured-main-desc 
        span Go off the electrical grid with a combination of Solar Panels and Batteries. 
        span Our simple tool can help you choose a solution right for you.
    
